body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 40px;

}

h2 {
    font-size: 30px
}

.colour {
    color: orangered;
}

.first {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.rd {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.third {

    display: flex;

    margin-bottom: 150px;
}

.width {
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;

}

.width img {
    width: 70%;
}

p {
    background-color: antiquewhite;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5%;
}

.second {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: bottom;
}

.seven {
    color: orange;

}

.experience {
    box-shadow: 10px 10px 30px gray;
    width: 40;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
    border-radius: 5px;

}

#full {
    border-left: 10px solid red;

}

#baby {
    border-left: 10px solid green;
}

footer p {
    text-align: center;
}